extends layout.pug

block content

    p
        a(class="button" href="/books/new") Add New Book

    h1 Library Book Collection

    form(action="/books/" method="get")
        p
            input(class="search-form" name="search" type="text" id="search" placeholder="Search for Title, Author, Genre or Year")
        p
            input(class="search-form" type="submit" value="Search Books")

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in bookData
                tr
                    td
                        a(href=`/books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year
