extends layout.pug

block content
    h1 Library Book Collection

    form(action="/books/" method="get")
        div(class="input-group mb-3")
            input(class="search-form form-control" name="search" type="text" id="search" placeholder="Enter Title, Author, Genre or Year")
            div(class="search-form input-group-append")
                button(class="btn btn-primary" type="submit") Search Books

    p
        a(class="button" href="/books/new") Add New Book

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in bookData
                tr
                    td
                        a(href=`/books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year
