doctype html
html(lang="en")
    head
        title= title
        link(href=href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet")
        link(href="/static/stylesheets/style.css" rel="stylesheet")
    body
        block content
