extends layout.pug

block content
    h1 Update Book
    form
        p
            label(for="title") Title
            input(name="title" type="text" id="title" value="TITLE DUMMY")
        p
            label(for="author")
            input(name="author" type="text" id="author" value="AUTHOR DUMMY")
        p
            label(for="genre")
            input(name="genre" type="text" id="genre" value="GENRE DUMMY")
        p
            label(for="year")
            input(name="year" type="text" id="year" value="YEAR DUMMY")
        p
            input(type="submit" value="Update Book")

    //form met de delete button hier
